<div id="heroCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="assets/images/slider.jpg"
        class="d-block w-100 "
        alt="Makeup Beauty"
        height="400px"
      />
      <div class="carousel-caption d-none d-md-block">
        <h2>Discover Your Beauty</h2>
        <p class="text-black">
          Enchanting makeup collections and special offers for you!
        </p>
        <a routerLink="/product-card" class="btn btn-pink">Shop Now !</a>
      </div>
    </div>
    <div class="carousel-item">
      <img
        src="assets/images/slider3.jpg"
        class="d-block w-100"
        alt="Lipsticks"
         height="400px"
      />
      <div class="carousel-caption d-none d-md-block">
        <h2 class="text-pink">Best for Your skin</h2>

        <a routerLink="/product-card" class="btn btn-pink">Discover now !</a>
      </div>
    </div>
  </div>

  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#heroCarousel"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#heroCarousel"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon"></span>
  </button>
</div>

<section class="categories-section py-5">
  <div class="container text-center">
    <h3 class="mb-4 text-pink">Shop By Category</h3>
    <div class="row g-4 justify-content-center">
      <div class="col-6 col-md-3" *ngFor="let category of category.slice(0, 4)">
        <div
          class="category-card"
          [routerLink]="['/subcategory-page', category.id]"
          style="cursor: pointer"
        >
          <img
            [src]="'https://localhost:7057/Images/' + category.imageUrl"
            [alt]="category.name"
            class="img-fluid shadow-sm rounded-circle"
            style="width: 150px; height: 150px; object-fit: cover"
          />
          <h6 class="mt-2 ">{{ category.name }}</h6>
        </div>
      </div>
    </div>
    <button
      *ngIf="category.length > 4"
      class="btn btn-pink mt-4"
      routerLink="/category-page"
    >
      View All Categories <i class="fa-solid fa-arrow-right"></i>
    </button>
  </div>
</section>
<div id="carouselExampleDark" class="carousel carousel-dark slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>

  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000" [routerLink]="['/product-card/brand','Merikit']">
      <img src="assets/images/Slider_1_2nd-Final-1.jpg"  class="d-block w-100 " alt="..." height="300px">
     <div class="carousel-caption d-none d-md-block">
      <h5>Korean Skin care</h5>
        <p>Exclusively Korean Merikit products on the site.</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000" [routerLink]="['/product-card/brand','Alstin']" style="cursor: po;">
      <img  src="assets/images/alastin-banner.png" class="d-block w-100" alt="..." height="300px">
   
    </div>

  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<section class="brands-section py-5">
  <div class="container text-center">
    <h3 class="mb-4 text-pink">Shop By Brand</h3>
    <div class="row g-4 justify-content-center">
      <div class="col-6 col-md-3" *ngFor="let item of brand.slice(0, 4)">
        <div
          class="category-card"
          [routerLink]="['/product-card/brand', item.name]"
          style="cursor: pointer"
        >
          <img
    [src]= "'https://localhost:7057/Images/' + item.imagePath"
            [alt]="item.name"
            class="img-fluid shadow-sm rounded-circle"
            style="width: 150px; height: 150px; object-fit: cover"
          />
          <h6 class="mt-2">{{ item.name }}</h6>
        </div>
      </div>
    </div>

    <button
      *ngIf="brand.length > 4"
      class="btn btn-pink mt-4"
      routerLink="/brand-page"
    >
      View All Brands <i class="fa-solid fa-arrow-right"></i>
    </button>
  </div>
</section>

<section class="new-arrivals py-5 bg-light">
  <div class="container">
    <h3 class="mb-4 text-pink text-center">New Arraivals </h3>
    <div class="row g-4">
      <div
        class="col-12 col-sm-6 col-md-4 col-lg-3"
        *ngFor="let item of product.slice(0, 4)"
      >
        <div
          class="product-card h-100 d-flex flex-column align-items-center text-center p-3 bg-white shadow-sm rounded"
        >
          <span
            class="badge bg-black position-absolute top-0 end-0 m-3 text-white px-2 py-1 rounded"
          >
            New
          </span>
          <img
            [src]="'https://localhost:7057/Images/' + item.imageUrl"
            [alt]="item.name"
            class="product-image mb-3"
            style="width: 100px; height: 100px; object-fit: contain; cursor: pointer;"
            [routerLink]="['/product-card-details', item.id]"
          
          />

          <h3 class="product-title fs-6">{{ item.name }}</h3>

          <div class="product-price my-2">
            <span class="new-price">{{ item.price | currency }}</span>
          </div>

          <div class="mt-auto w-100">
            <button
              class="btn btn-pink w-100 mb-2"
              (click)="addToCart(item.id)"
            >
              <i class="fas fa-shopping-bag"></i> Add To Cart
            </button>
            <button
              class="btn btn-pink w-100 mb-2"
              (click)="addToWishList(item.id)"
            >
              <i class="fas fa-heart"></i>Add To Wishlist
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>




<section class="special-offer py-5">
  <div class="container text-center">
    <div class="offer-banner p-5 bg-pink text-white rounded">
      <h2 class="mb-3">Special Offer ✨ 50% Discount on Cosmetics</h2>
      <a routerLink="/product-card" class="btn btn-light mt-3">Shop Now!</a>
    </div>
  </div>
</section>

<section class="new-arrivals py-5 bg-light">
  <div class="container">
    <h3 class="mb-4 text-pink text-center">Testimonials</h3>
    <div class="row g-4 justify-content-center">
      <div
        class="col-12 col-sm-6 col-md-4"
        *ngFor="let item of testimonial.slice(0,3)"
      >
        <div class="card shadow-sm border-0 h-100 rounded-4 p-3 testimonial-card position-relative">
          <div class="d-flex align-items-center mb-3">
         
            
            <div>
              <h5 class="mb-0 text-pink fw-bold">{{ item.name }}</h5>
              <small class="text-muted">🗓️ {{ item.createdOn }}</small>
            </div>
          </div>
          <p class="card-text fst-italic text-secondary">
            "{{ item.description }}"
          </p>
          <div class="position-absolute top-0 end-0 m-3">
            <span class="badge bg-success fs-6">⭐ {{ item.rating }}/5</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>





