  <div class="breadcrumbs-wrapper m-0">
    <div class="container">
        <div class="breadcrumbs d-flex justify-content-between align-items-center">
            <div>
              <a routerLink="/admin" title="Back to the Admin Portal">Admin portal</a> 
              <span aria-hidden="true">|</span> 
              <span>Categories</span>
            </div>
          </div>
  </div>
<div class="card shadow-sm mt-4">
  <div class="card-header d-flex justify-content-between align-items-center bg-dark text-white">
    <strong class="fs-5">📂 Category List</strong>
    <button class="btn btn-success btn-sm" routerLink="/category/add" [appRole]="['Add', 'Admin']">➕ Add Category</button>
  </div>

  <div class="card-body">
    <div class="table-responsive" style="max-height: 500px; overflow-y: auto;">
      <table class="table table-hover table-bordered align-middle text-center">
        <thead class="table-dark">
          <tr>
            <th>Number
              <i class="fas fa-sort-up ms-2 me-2 text-success" (click)="sortById('asc')"></i>
              <i class="fas fa-sort-down text-danger" (click)="sortById('desc')"></i>
            </th>
            <th>Name (EN)
              <i class="fas fa-sort-up ms-2 me-2 text-success" (click)="sortByName('asc')"></i>
              <i class="fas fa-sort-down text-danger" (click)="sortByName('desc')"></i>
            </th>
            <th>Name (AR)</th>
            <th>Description (EN)</th>
            <th>Description (AR)</th>
            <th>Image</th>
            <th>Created On
              <i class="fas fa-sort-up ms-2 me-2 text-success" (click)="sortByCreationDate('asc')"></i>
              <i class="fas fa-sort-down text-danger" (click)="sortByCreationDate('desc')"></i>
            </th>
            <th>Is Active</th>
            <th [appRole]="['Edit', 'Admin']">Edit</th>
            <th [appRole]="['Delete', 'Admin']">Delete</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let category of category">
            <td>{{category.id}}</td>
            <td>{{category.name}}</td>
            <td>{{category.nameAr}}</td>
            <td>{{category.description}}</td>
            <td>{{category.descriptionAr}}</td>
            <td><img 
              [src]= "'https://localhost:7057/Images/' + category.imageUrl"
              [alt]="category.name" 
              width="60" 
              height="60" 
              class="rounded shadow-sm border"
              style="object-fit: contain;"
            /></td>
          
            <td>{{category.createdOn}}</td>
            <td><span>{{category.isActive}}</span></td>
            <td [appRole]="['Edit','Admin']">
              <div class="d-flex justify-content-center gap-2">
                <button class="btn btn-sm btn-outline-primary"  [routerLink]="['/category/edit', category.id]">
                  ✏️ Edit
                </button>
             
              </div>
            </td>
            <td [appRole]="['Delete','Admin']">   <button class="btn btn-sm btn-outline-danger" (click)="deleteCategory(category.id)">
              🗑️ Delete
            </button></td>
          </tr>
        </tbody>

      </table>
    </div>
  </div>
</div>

