<div class="breadcrumbs-wrapper m-0">
  <div class="container">
    <div class="breadcrumbs d-flex justify-content-between align-items-center">
      <div>
        <a routerLink="/admin" title="Back to the Admin Portal">Admin portal</a>
        <span aria-hidden="true">|</span>
        <span>Categories</span>
      </div>
    </div>
  </div>
  <div class="card shadow-sm mt-4">
    <div
      class="card-header d-flex justify-content-between align-items-center bg-dark text-white"
    >
      <strong class="fs-5">📂 Category List</strong>
      <button
        class="btn btn-success btn-sm"
        routerLink="/category/add"
        [appRole]="['Add', 'Admin']"
      >
        ➕ Add Category
      </button>
    </div>

    <div class="card-body">
      <div class="mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="🔍 Search..."
          (keyup)="applyFilter($event)"
        />
      </div>
      <div class="table-responsive">
        <table
          mat-table
          [dataSource]="dataSource"
          matSort
          class="mat-elevation-z8 table table-bordered text-center"
        >
          <!-- ID Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Number</th>
            <td mat-cell *matCellDef="let category">{{ category.id }}</td>
          </ng-container>

          <!-- Name EN -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Name (EN)</th>
            <td mat-cell *matCellDef="let category">{{ category.name }}</td>
          </ng-container>

          <!-- Name AR -->
          <ng-container matColumnDef="nameAr">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Name (AR)</th>
            <td mat-cell *matCellDef="let category">{{ category.nameAr }}</td>
          </ng-container>

          <!-- description -->
          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef>Description (En)</th>
            <td mat-cell *matCellDef="let category">
              {{ category.description }}
            </td>
          </ng-container>
          <!-- description -->
          <ng-container matColumnDef="descriptionAr">
            <th mat-header-cell *matHeaderCellDef>Description (AR)</th>
            <td mat-cell *matCellDef="let category">
              {{ category.descriptionAr }}
            </td>
          </ng-container>
          <!-- image -->
          <ng-container matColumnDef="imageUrl">
            <th mat-header-cell *matHeaderCellDef>Image</th>
            <td mat-cell *matCellDef="let category">
              <img
                [src]="'https://localhost:7057/Images/' + category.imageUrl"
                [alt]="category.name"
                width="60"
                height="60"
                class="rounded shadow-sm border"
                style="object-fit: contain"
              />
            </td>
          </ng-container>
          <!-- Created On -->
          <ng-container matColumnDef="createdOn">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Created On
            </th>
            <td mat-cell *matCellDef="let category">
              {{ category.createdOn }}
            </td>
          </ng-container>
          <!-- Edit -->
          <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef [appRole]="['Edit', 'Admin']">
              Edit
            </th>
            <td
              mat-cell
              *matCellDef="let category"
              [appRole]="['Edit', 'Admin']"
            >
              <button
                class="btn btn-sm btn-outline-primary"
                [routerLink]="['/category/edit', category.id]"
              >
                ✏️ Edit
              </button>
            </td>
          </ng-container>

          <!-- Delete -->
          <ng-container matColumnDef="delete">
            <th
              mat-header-cell
              *matHeaderCellDef
              [appRole]="['Delete', 'Admin']"
            >
              Delete
            </th>
            <td
              mat-cell
              *matCellDef="let category"
              [appRole]="['Delete', 'Admin']"
            >
              <button
                class="btn btn-sm btn-outline-danger"
                (click)="deleteCategory(category.id)"
              >
                🗑️ Delete
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
        <mat-paginator [pageSize]="10" showFirstLastButtons> </mat-paginator>
      </div>
    </div>
  </div>
</div>
