<div class="page-title "><h1 class="mt-4"><span class="span">L</span>ogin</h1></div>
<!--End Page Title with Image-->
<div class="container">
    <div class="row">
        <!--Main Content-->
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 box">
            <h3 ><span class="span">N</span>ew <span class="span">C</span>ustomers</h3>
            <p>By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.</p>
            <a routerLink="/singup" class="btn button">Create an account</a>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 box">
            <div class="mb-4">
               <form  class="contact-form" (ngSubmit)="login()">	
               <h3><span class="span">R</span>egistered <span class="span">C</span>ustomers</h3>
                <p>If you have an account with us, please log in.</p>
                  <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group">
                            <label for="email">Email <span class="required span">*</span></label>
                            <input type="email" name="email" placeholder="" id="email" [(ngModel)]="email">
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group">
                            <label for="password">Password <span class="required span">*</span></label>
                            <input type="password" value="" name="password" placeholder="" id="password" [(ngModel)]="password">                        	
                        </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="text-left col-12 col-sm-12 col-md-12 col-lg-12">
                        <input type="submit" class="btn mb-3" value="Sign In">
                        <div *ngIf="errorMessage" class="alert alert-danger ">{{errorMessage}}</div>
                        <p class="mb-4">
                            <a routerLink="/forgot-password">Forgot your password?</a> &nbsp; | &nbsp;
                            <a routerLink="/singup" id="customer_register_link">Create account</a>
                        </p>
                    </div>
                 </div>
             
             </form>
            </div>
           </div>
        <!--End Main Content-->
    </div>

</div><!--End Body Container-->


