<div class="container my-5">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-8">
        <div class="card shadow-lg">
          <div class="card-header bg-primary text-white">
            <h4 class="mb-0 text-center">Change Password</h4>
          </div>
          <div class="card-body">
            <form #passwordForm="ngForm" (ngSubmit)="onSubmit(passwordForm)">
              <div class="mb-3">
                <label for="newPassword" class="form-label">New Password</label>
                <input
                  type="password"
                  class="form-control"
                  id="newPassword"
                  name="newPassword"
                  [(ngModel)]="user.newPassword"
                  required
                  minlength="6"
                  placeholder="Enter new password"
                />
                <div
                  *ngIf="passwordForm.submitted && !user.newPassword"
                  class="text-danger"
                >
                  Password is required
                </div>
              </div>
  
              <div class="mb-3">
                <label for="confirmPassword" class="form-label">Confirm Password</label>
                <input
                  type="password"
                  class="form-control"
                  id="confirmPassword"
                  name="confirmPassword"
                  [(ngModel)]="user.confirmPassword"
                  required
           
                  placeholder="Confirm your password"
                />
                <div
                  *ngIf="passwordForm.submitted && !user.confirmPassword"
                  class="text-danger"
                >
                  Confirm password is required
                </div>
              </div>
  
              <div class="d-grid">
                <button
                  type="submit"
                  class="btn btn-success btn-lg"
            
                >
                  Update Password
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  
