
.card {
    border-radius: 10px;
    overflow: hidden;
  }
  
  .card-header {
    font-size: 1.25rem;
  }
  
  .form-label {
    font-weight: bold;
  }
  
  @media (max-width: 768px) {
    .card {
      margin: 10px;
    }
  
    .card-header h4 {
      font-size: 1.1rem;
    }
  }
  
  @media (max-width: 576px) {
    .form-control {
      font-size: 0.9rem;
    }
  
    .btn-lg {
      font-size: 0.85rem;
    }
  }

.alert {
    margin-top: 10px;
    font-size: 14px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
  }
  
  .alert-danger {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
  }
    
  .btn-success {
    position: relative;
    overflow: hidden;
    background-color: transparent;
    color: #d65f87 ;
    border: 2px solid #d65f87 ;
    transition: color 0.4s ease;
    z-index: 1;
  }
  
  .btn-success::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0;
    background-color: #d65f87 ;
    z-index: -1;
    transition: width 0.4s ease;
  }
  
  .btn-success:hover::before {
    width: 100%;
  }
  
  .btn-success:hover {
    color: white;
  }
.bg-primary{
    background-image: linear-gradient(to top, rgb(252, 148, 183), rgb(255, 210, 230));
  
}